.postComment {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  align-content: center;
}
.postCommentEach {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.singleUser {
  font-size: 23px;
  margin: 10px 10px 10px 0;
}
.singleText {
  display: flex;
  justify-self: flex-start;
  font-size: 17px;
  margin: 15px 15px 15px 0;
}
.commentInput {
  margin: 5px 0 10px 0;
}
