.thumbnails {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.username {
  font-size: 23px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.userDiv {
  display: flex;
  margin: 1rem;
  width: 100%;
}
.postImage {
  width: 100%;
}
.pImages {
  width: 100%;
}
hr {
  width: 100%;
}
